<script>
	$('.dropdown')
  .dropdown({
    // you can use any ui transition
    transition: 'drop'
  })
;
</script>
<div class="ui basic  segment">
	<h1 class="ui green dividing header">{{participant_a}} vs. {{participant_b}} / {{ match_id }}</h1>
	<table class="ui green table">
		<thead>
			<th>{{participant_a}}</th>
			<th>{{participant_b}}</th>
		</thead>
		<tbody>
			<tr ng-repeat="player in  team_a">
				<td class="team-a"><a href="#player/{{player.player_id}}/{{participant_a}}/{{ player.player_name }}">{{player.player_name}}</a></td>
				<td class="team-b"><a href="#player/{{player.player_id}}/{{participant_b}}/{{ player.player_name }}">{{team_b[$index].player_name}}</a></td>
			</tr>
		</tbody>
	</table>

	<div class="ui segment">
		<h1 class="ui orange dividing header">Player Foul</h1>
		<form class="ui orange form" ng-submit="playerFoul()">
			<div class="two fields">
				<div class="field">
					<div class="ui fluid search selection dropdown">
						<input type="hidden" id="commitedBy" name="commitedBy" ng-model="commitedBy">
						<div class="default text">Foul commited by</div>
						<div class="menu">
							<div class="item" ng-repeat="player in team_a" data-value="{{player.player_id}}">
								{{player.player_name}}
							</div>
							<div class="item" ng-repeat="player in team_b" data-value="{{player.player_id}}">
								{{player.player_name}}
							</div>
						</div>
					</div>
				</div>
				<div class="field">
					<div class="ui fluid search selection dropdown">
						<input type="hidden" id="foulOn" name="foulOn" ng-model="foulOn">
						<div class="default text">Foul Victim</div>
						<div class="menu">
							<div class="item" ng-repeat="player in team_b" data-value="{{player.player_id}}">
								{{player.player_name}}
							</div>
							<div class="item" ng-repeat="player in team_a" data-value="{{player.player_id}}">
								{{player.player_name}}
							</div>
						</div>
					</div>
				</div>				
			</div>
			<button type="submit" class="ui fluid massive inverted orange button">Make Foul</button>
		</form>
	</div>

	<div class="ui segment">
		<h1 class="ui orange dividing header">Player Card</h1>
		<form class="ui red form" ng-submit="playerCard()">
			<div class="field">
					<div class="ui fluid search selection dropdown">
						<input type="hidden" id="awardedTo" ng-model="cardAwardedTo" name="player_id"/>
						<div class="default text">Select Player Name</div>
						<div class="menu">
							<div class="item" ng-repeat="player in team_b" data-value="{{player.player_id}}">
								{{player.player_name}}
							</div>

							<div class="item" ng-repeat="player in team_a" data-value="{{player.player_id}}">
								{{player.player_name}}
							</div>
						</div>
					</div>				
			</div>

			<div class="field">
					<div class="ui fluid search selection dropdown">
						<input type="hidden" id="playerCardType" ng-model="cardType" />
						<div class="default text">Select Card Type</div>
						<div class="menu">
							<div class="inverted orange item" data-value="yellow">Yellow Card</div>
							<div class="inverted red item" data-value="red">Red Card</div>
						</div>
					</div>				
			</div>
			<button type="submit" class="ui massive fluid red inverted button">Card Player</button>
		</form>
	</div>

	<div class="ui segment">
		<h1 class="ui green diving header">Player Goal</h1>
		<form class="ui basic form" ng-submit="matchGoal()">
			<div class="field">
					<div class="ui fluid search selection dropdown">
						<input type="hidden" id="scoredBy" name="player_id"/>
						<div class="default text">Select Player Name</div>
						<div class="menu">
							<div class="item" ng-repeat="player in team_b" data-value="{{player.player_id}}">
								{{player.player_name}}
							</div>

							<div class="item" ng-repeat="player in team_a" data-value="{{player.player_id}}">
								{{player.player_name}}
							</div>
						</div>
					</div>
			</div>
			<div class="field">
				<div class="ui fluid search selection dropdown">
					<input type="hidden" id="goalType" />
					<div class="default text">Goal Type</div>
					<div class="menu">
						<div class="inverted orange item" data-value="penalty">Penalty</div>
						<div class="inverted red item" data-value="header">Header</div>
						<div class="inverted red item" data-value="kick">Kick</div>
					</div>
				</div>	
			</div>
			<button type="submit" class="ui massive fluid green inverted button">Add Goal</button>
		</form>
	</div>
	<button class="ui massive fluid youtube button" id="end-match" ng-click="finishMatch()">End Match</button>
</div>