<div class="ui basic segment" style="height:500px">
<h1 class="ui orange dividing header">{{playerName}} / {{playerTeam}}</h1>
<linechart data="data" options="options" mode="" width="" height=""></linechart>

<br/>
<br/>

<div class="ui basic segment">
	<h1 class="ui dividing header green">Career Data</h1>
	<table class="ui table">
		<thead>
			<tr>
				<th># Goals</th>
				<th># Fouls</th>
				<th># Red Cards</th>
				<th># Yellow Cards</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{totalGoals}}</td>
				<td>{{totalFouls}}</td>
				<td>{{totalRedCards}}</td>
				<td>{{totalYellowCards}}</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
