<div class="ui segment">
	<h1 class="teal ui dividing header">{{team_name}} / {{ team_id }}</h1>
	<table class="ui basic table">
		<thead>
			<tr>
				<th>Player Name</th>
				<th>Player Id</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="player in players">				
				<td>
					<a href="#player/{{player.player_id}}/{{team_name}}/{{ player.player_name }}">{{ player.player_name }}</a>
				</td>
				<td>
					<a href="#player/{{player.player_id}}/{{team_name}}/{{ player.player_name }}">{{ player.player_id }}</a>
				</td>
			</tr>			
		</tbody>
	</table>
</div>
