<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            <!--Seems to work-->
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.vertica.jdbc.Driver
        </property>

        <!-- DB config for hibernate to connect -->
        <property name="hibernate.connection.url">
            jdbc::vertica://192.168.111.114:5433/footinfo
        </property>
        <property name="hibernate.connection.username">
            dbadmin
        </property>
        <property name="hibernate.connection.password">
            footinfo
        </property>

        <mapping resource="hibernate-mappings/MatchFoul.hbm.xml"/>
        <mapping resource="hibernate-mappings/MatchGoal.hbm.xml"/>
        <mapping resource="hibernate-mappings/PenaltyCard.hbm.xml"/>
        <mapping resource="hibernate-mappings/PlayerData.hbm.xml"/>
        <mapping resource="hibernate-mappings/EventFeed.hbm.xml"/>
        <mapping resource="hibernate-mappings/AuthCodes.hbm.xml"/>
    </session-factory>
</hibernate-configuration>